
#left-panel {
    
    position:fixed;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    float:left;
    background: white; 
    width: 40%;
    height:100%;

}


#profile {
    margin-top: 200px;
    margin-bottom: 60%;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
    font-family: Helvetica,Arial,sans-serif;

}

h1 {
    font-size: 2em;
    font-family: Helvetica,Arial,sans-serif;
}

h2 {
     font-size: 1.2em;
     font-family: Helvetica,Arial,sans-serif;
}

h3 {
    font-size: 1em;
    font-family: Helvetica,Arial,sans-serif;
}

h4 {
    font-size: 1em;
    font-family: Helvetica,Arial,sans-serif;
}

p {
    font-size: 1.2em;
    font-family: Helvetica,Arial,sans-serif;
}

#social-media{
margin-top:10px;

}


#right-panel {
    float:right;
    width: 55%;
}

#portfolio-content {
    padding-top: 20px;

}
.title {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-family: Helvetica,Arial,sans-serif;
    }

.title h3 {
    font-family: Helvetica,Arial,sans-serif;
    font-size: .8em;
    }

.portfolio-box{
    margin-top:20px;
    clear: both;
    margin-bottom: 40px;

}


.project-image{
    margin-right: 20px;
   float: left; 
   height: 200px;

}

.portfolio-info {
    float:left;
    margin-top: 50px;

      
    
}

